<% provide(:title, "Story about us") %>
<h1>О проекте</h1>
<p>Очень замечательный проект!</p>
  <p> В глубине каждого человека притаился сексот.</p>
  <p>...Сексот на самого себя, заполняйте формы в соц сетях не стесняйтесь формировать досье на себя любимого!</p>
  <p>Подробнее найдете в файле Find me in app/views/static_pages/about.html.erb</p>
