<% provide(:title, "Help") %>
<h1>Помощь утопающему в руках самого утопающего!</h1>
<p>Есть что добавить к этому великому выражению? 
  тогда вам сюда - Find me in app/views/static_pages/help.html.erb</p>
