<footer class="footer">
  <small>
    <a href="http://web.method.kz/">Мега реалити шоу с элементами сюрреализма</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "О проекте",   about_path %></li>
      <li><%= link_to "Настучать", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">Паровоз</a></li>
    </ul>
  </nav>
</footer>